<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{t}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/Home.css') }}">
</head>

<body>
    <h1>Hi this is Home page.</h1>
    <!--  <h2>Nour live's in {{ user["Nour"] }}</h2>--> \
    <table style="width:100%; text-align:center">
        <tr>
            <th>Index</th>
            <th>Username</th>
            <th>Location</th>
        </tr>
        {% for username, location in user.items() %}
        <tr>
            <td>{{ loop.index }}</td>
            <td> {{ username }}</td>
            <td> {{ location }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>